<div class="currency-widgets-view" *ngFor="let widget of widgets; let index = index">
    <mat-card *ngIf="widget.name === 'converter'" class="example-card" cdkDrag>
        <form [formGroup]="form[index]">
            <mat-form-field class="example-form">
                <input type="text" class="exe-input" matInput placeholder="input" formControlName="currency" required />
            </mat-form-field>
            <div class="text-center">
                <button class="mat-button" mat-button color="primary" (click)="sendConversion(index)"
                    [disabled]="!form[index].valid"> Currency </button>
                <div *ngFor="let item of conversion[index]?.rates | keyvalue:sort">
                    Currency: <b>{{ item.key }}</b> Equals in USD: <b>{{ item.value }}</b>
                </div>
            </div>
        </form>
        <mat-card-actions class="delete-handle-stat">
            <button mat-icon-button (click)="delWidget(index)">
                <mat-icon> delete </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

</div>